# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Python
venv/
ENV/
env/
.env
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
django_auto_api_gen.egg-info/
dist/
build/
